<!DOCTYPE html>
<html lang="en">	
	<head>	
		<meta charset="UTF-8" />  	
		<meta name="description" content="Tanya Landreth CIS 2250 Final Project">
		<meta name="author" content="T.A. Landreth">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!--
			Final Project for CIS 2250
			Author: Tanya Landreth
			Date: 
		-->
		<title><?php print TITLE ?></title>	

		<link rel="stylesheet" href="./css/style.css" type="text/css" media="screen" />

</head>

<body>
<!-- NAVIGATION -->	
	<nav>
		
		<ul><li>( <a href="index.php" title="Enter Now, Mars 2045">Submit Entry</a> )
			<li>( <a href="showentry.php" title="Mars 2045, View Entry">View Entry</a> )</li>
			</ul></nav> )	